@charset "utf-8";
@import url(reset.css);

body{height: 100%; width:  100%;}


#container {position:absolute; top:50%; left:50%; width: 600px; height: 200px; margin-top:-100px;margin-left:-300px }
	#container h1 { width: 163px; height: 45px; overflow: hidden; position: relative; font-size: 1.8em;}
	#container h1 span { width: 163px; height: 45px; position: absolute; top: 0; left: 0; background: url(../images/main_logo.gif) no-repeat;}

	#container ul li { float: left; overflow: hidden; position: relative; margin-right: 30px; padding: 10px 20px; width: 137px; height: 33px;}
		#container ul li a, #conteiner ul li a:visited { text-decoration: underline; color: #fff; text-align: center; display: block; font-size: 2.4em;}
		#container ul li a:hover { text-decoration: none;}
 
	#container li#registration { background: url(../images/main_reg.gif) no-repeat;}
	#container li#enter { background: url(../images/main_enter.gif) no-repeat;}



#container_registr {position:absolute; top:50%; left:50%; width: 683px; height: 383px; margin-top:-192px;margin-left:-342px; background: url(../images/reg_bg.gif); border: 1px solid #aca7a7;}
	#container_registr h1 { float: right; font-size: 2em; overflow: hidden; width: 217px; height: 46px; position: relative; right: -2px; top: -2px;}
	#container_registr h1 span { width: 217px; height: 46px; position: absolute; top: 0; left: 0; background: url(../images/reg_r_t_border.gif) no-repeat;}
	#container_registr h1 a, #container_registr h1 a:visited { width: 217px; height: 46px; display: block;}
	#container_registr h1 a:hover { cursor: pointer;}
	#container_registr strong {color: #2374c6; font-size:16px}
	
	#container_registr h2 { font-size: 2em; color: #2374c6; background: url(../images/reg_l_t_border.gif) no-repeat; position: relative; top: -2px; padding: 25px 0 10px 25px; margin: 0 300px 0 0;}	
	#container_registr h3 { font-size: 1.4em; color: #666; padding: 0 0 10px 25px;}	
		
	#container_registr label { display: block; font-size: 1.4em; color: #666; padding: 0 0 5px 25px;}
	#container_registr input { font-size: 1.4em; color: #666; margin: 0 0 15px 25px; width: 300px;}
	#container_registr #work_as { position: relative;}
		#container_registr #work_as .block { position: relative; float: left;}
		#container_registr #work_as input { margin: 0 130px 0 0; width: auto; position: relative; left: 25px;}
		#container_registr #work_as label { position: absolute; left: 25px; top: 0px;}

	#container_registr #corner { background: url(../images/reg_l_b_border.gif) no-repeat left bottom; position: relative; top:1px; left: -1px; height: 100%;}
	
	#container_registr a#registr, #container_registr a#registr:visited { position: absolute; bottom: 0; right: -2px; background: url(../images/reg_r_b_border.gif) no-repeat top right; width: 258px; height: 74px; display: block; overflow: hidden; color: #fff; text-decoration: underline; font-weight: bold;}
		#container_registr a#registr span { font-size: 1.8em; padding: 18px 0 0 0; margin-right: 20px; text-align: center; display: block;} 
	#container_registr a#registr:hover { background-position: bottom right; text-decoration: none;}
	
	* html a#registr { left: 427px; top: 309px;}

.btn span { font-size: 1.8em; padding: 18px 0 0 0; margin-right: 20px; text-align: center; display: block;}
.btn a :hover { background-position: bottom right; text-decoration: none;}
.btn a { position: absolute; bottom: 0; right: -2px; background: url(../images/reg_r_b_border.gif) no-repeat top right; width: 258px; height: 74px; display: block; overflow: hidden; color: #fff; text-decoration: underline; font-weight: bold;}
	
.errors{
	color:#ff1800;
	padding-left:10px;
	font-size: 14px;
	left: 360px;
	position: absolute;
	font-weight:bold;
}
#loader{
	position: absolute;
	left: 400px;
}
#suc{
	text-align:center;
	padding-top:50px;
	display:none;
}
#suc.span{
font-size: 2em; color: #2374c6;
}
.button{
	cursor:pointer;
}
.button:hover{
	text-decoration: none;
}

#logon{
	text-align:center;
}

#logon.label{
	left:50%!important;

}

#container_registr_logon {position:absolute; top:50%; left:50%; width: 600px; height: 300px; margin-top:-192px;margin-left:-342px; background: url(../images/reg_bg.gif); border: 1px solid #aca7a7;}
	#container_registr_logon h1 { float: right; font-size: 2em; overflow: hidden; width: 217px; height: 46px; position: relative; right: -2px; top: -2px;}
	#container_registr_logon h1 span { width: 217px; height: 46px; position: absolute; top: 0; left: 0; background: url(../images/reg_r_t_border.gif) no-repeat;}
	#container_registr_logon h1 a, #container_registr_logon h1 a:visited { width: 217px; height: 46px; display: block;}
	#container_registr_logon h1 a:hover { cursor: pointer;}
	
	#container_registr_logon h2 { font-size: 2em; color: #2374c6; background: url(../images/reg_l_t_border.gif) no-repeat; position: relative; top: -2px; padding: 25px 0 10px 25px; margin: 0 300px 0 0;}	
	#container_registr_logon h3 { font-size: 1.4em; color: #666; padding: 0 0 10px 25px;}	
		
	#container_registr_logon label { display: block; font-size: 20px; color: #666; padding: 0 0 5px 145px;}
	#container_registr_logon input { font-size: 25px; color: #2374c6; margin: 0 0 15px 0px; width: 300px; height:30px}
	#container_registr_logon #work_as { position: relative;}
		#container_registr_logon #work_as .block { position: relative; float: left;}
		#container_registr_logon #work_as input { margin: 0 130px 0 0; width: auto; position: relative; left: 25px;}
		#container_registr_logon #work_as label { position: absolute; left: 25px; top: 0px;}

	#container_registr_logon #corner { background: url(../images/reg_l_b_border.gif) no-repeat left bottom; position: relative; top:1px; left: -1px; height: 100%;}
	
	#container_registr_logon a#registr, #container_registr_logon a#registr:visited { position: absolute; bottom: 0; right: -2px; background: url(../images/reg_r_b_border.gif) no-repeat top right; width: 258px; height: 74px; display: block; overflow: hidden; color: #fff; text-decoration: underline; font-weight: bold;}
		#container_registr_logon a#registr span { font-size: 1.8em; padding: 18px 0 0 0; margin-right: 20px; text-align: center; display: block;} 
	#container_registr_logon a#registr:hover { background-position: bottom right; text-decoration: none;}
