php_flag register_globals off
php_flag magic_quotes_gpc on
php_value error_reporting 0



RewriteEngine on
RewriteRule ^FCKeditor/$ - [L]
RewriteRule ^redirect.php$ - [L]
RewriteRule ^iframe.php$ - [L]
RewriteRule ^images/phpimg/1.php$ - [L]
RewriteRule ^(.*).(html|php)$ tizer.php?cat=$1&%{QUERY_STRING} [QSA,L] 