.window {
	border-width: 1px;
	border-style: solid;
	border-color: blue;
}

.WindowHeader {
	background-color: blue;
	color: #FFFFFF;
	font-family: Tahoma;
	font-size: 13px;
	filter:Glow(Strength:5,Color:#000000);
	height: 20px;
}

.Text1 {
	color: #000000;
	font-family: Tahoma;
	font-size: 11px;

}
.TableHeader {
	background-color: #e5eFe3;
	border: 1px solid blue;
	height: 15px;
	margin: 1px;
	font-size: 12px;
	font-family: Tahoma;
}
.Table1 {
	font-family: Tahoma;
	font-size: 12px;
	background-color: #F5FFF3;
	margin: 1px;
	border: 0px solid;
}
.Table2 {
	font-family: Tahoma;
	font-size: 12px;
	background-color: #e7f2e5;
	margin: 1px;
	border: 0px solid;
}





table.main {
	background : #ffffff;border:solid 1px blue;	
}
.main1 {
	background : #F3FFF1;border:solid 1px blue;text-align:center;color:#CD794A;font-weight:bold;	
}
td.main {
	background : #ffffff;border:solid 1px blue;
}
body {
	color:000000; FONT-FAMILY: arial;font-size:14px;
}
h6 {
	font-size:14;
}
a {text-decoration: none;color: #336666;}
a:hover {text-decoration: none;color: #117744;}
input {FONT-FAMILY: 'MS Sans Serif';}
input.field {BORDER:1px solid #177B2F;size=15;WIDTH: 135px;background : #F3FFF1;height:20}
input.field5 {BORDER:1px solid #177B2F;size=15;WIDTH: 60px;background : #F3FFF1;height:20}
input.field2 {BORDER:1px solid #177B2F;size=15;WIDTH: 135px;background : #CEE6CC;height:18; font-size:12;color:#336633}
input.field3 {BORDER:1px solid #177B2F;size=15;WIDTH: 200px;background : #F3FFF1;height:20}
.field4  {
	WIDTH: 120px;
	HEIGHT: 50px;
	BORDER: 1px solid #177B2F;
	background : #F3FFF1;
	text-shadow : inherit;
	font-size:12;color:#336633
}
.field6  {
	WIDTH: 450px;
	HEIGHT: 126px;
	BORDER: 1px solid #177B2F;
	background : #F3FFF1;
	text-shadow : inherit;
	font-size:12;color:#336633
}

.text2 {
	font-family: "MS Sans Serif";
	color:blue;
	font-size:14px;
}
.ok {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 9px; BACKGROUND-IMAGE: url(php/images/send.gif); BORDER-LEFT: medium none; WIDTH: 62px; CURSOR: hand; BORDER-BOTTOM: medium none; HEIGHT: 12px}
.reset {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 9px; BACKGROUND-IMAGE: url(php/images/clear.gif); BORDER-LEFT: medium none; WIDTH: 54px; CURSOR: hand; BORDER-BOTTOM: medium none; HEIGHT: 12px}
.text3 {
	font-family: Arial;
	color:#119428;
	font-size:12px;
	text-align:justify;
	font-weight:bold;
}
.text4 {
	font-family: Arial, "MS Sans Serif";
	color:#22A539;
	font-size:12px;
	text-align:justify;
}
.text5 {
    font-family: "MS Sans Serif";
	color:red;
	font-size:14px;
}
.text6{
	font-family: "Lucida Sans Unicode, MS Sans Seri";
	color: "#047904";
	font-size: 18px;
}
.text7 {
	font-family: "Lucida Sans Unicode";
	color:#22A539;
	font-size:8px;
	text-align:center;
}
.image {
	BORDER:1px solid #177B2F;
}
.header {
	padding-top:40px; font-size: 18; font-family: Arial, Helvetica, sans-serif; color:#2B2A3C;
}
UL LI {
	LIST-STYLE-IMAGE: url(images/li.gif);
	margin-left: 15px;
	margin-right: 15px;
	font-family: 'MS Sans Serif', Geneva, sans-serif;
	text-align: justify;
	font-size : 12;
}
.thead {
	color:#CD794A;font-weight:bold;
}
td.yach {
	border-top: 1 solid; text-align:center
}