.pad1 {padding:1px;}
.pad2 {padding:2px;}
.pad3 {padding:3px;}
.pad5 {padding:5px;}
.pad6 {padding:6px;}
.pad7 {padding:7px;}
.pad8 {padding:8px;}
.pad9 {padding:9px;}
.pad10 {padding:10px;}

.padv1 {padding-top:1px; padding-bottom:1px;}
.padv2 {padding-top:2px; padding-bottom:2px;}
.padv3 {padding-top:3px; padding-bottom:3px;}
.padv5 {padding-top:5px; padding-bottom:5px;}


.padh3 {padding-left:3px; padding-right:3px;}
.padh4 {padding-left:4px; padding-right:4px;}
.padh5 {padding-left:5px; padding-right:5px;}
.padh6 {padding-left:6px; padding-right:6px;}
.padh7 {padding-left:7px; padding-right:7px;}
.padh8 {padding-left:8px; padding-right:8px;}
.padh9 {padding-left:9px; padding-right:9px;}
.padh10 {padding-left:10px; padding-right:10px;}

.padb1 {padding-bottom:1px;}
.padb2 {padding-bottom:2px;}
.padb3 {padding-bottom:3px;}
.padb5 {padding-bottom:5px;}
.padb6 {padding-bottom:6px;}
.padb7 {padding-bottom:7px;}
.padb8 {padding-bottom:8px;}
.padb10 {padding-bottom:10px;}

.padl1{padding-left:1px;}
.padl2{padding-left:2px;}
.padl3{padding-left:3px;}
.padl5{padding-left:5px;}
.padl6{padding-left:6px;}
.padl7{padding-left:7px;}
.padl8{padding-left:8px;}
.padl10{padding-left:10px;}
.padl15{padding-left:15px;}
.padl18{padding-left:18px;}
.padl20{padding-left:20px;}
.padl25{padding-left:25px;}
.padl28{padding-left:28px;}
.padl30{padding-left:30px;}
.padl50{padding-left:50px;}
.padl60{padding-left:60px;}


.padr1{padding-right:1px;}
.padr2{padding-right:2px;}
.padr3{padding-right:3px;}
.padr5{padding-right:5px;}
.padr6{padding-right:6px;}
.padr7{padding-right:7px;}
.padr8{padding-right:8px;}
.padr9{padding-right:9px;}
.padr10{padding-right:10px;}
.padr15{padding-right:15px;}
.padr18{padding-right:18px;}


.padt1{padding-top:1px;}
.padt2{padding-top:2px;}
.padt3{padding-top:3px;}
.padt4{padding-top:4px;}
.padt5{padding-top:5px;}
.padt6{padding-top:6px;}
.padt7{padding-top:7px;}
.padt8{padding-top:8px;}
.padt9{padding-top:9px;}
.padt10{padding-top:10px;}
.padt12{padding-top:12px;}
.padt15{padding-top:15px;}
.padt20{padding-top:20px;}
.padt25{padding-top:25px;}

tr.padl35 td {
	padding-left: 35px;	
}

table.pad2 td {
	padding: 2px;	
}

table.pad3 td {
	padding: 3px;	
}
